*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* .clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.tag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



/* header  */
.top-bar{
    background-color: black;
    width: 100%;
    height: 70px;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; */
}

.top-bar .btm-couple{
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.btm-couple button{
    padding: 4px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: gray;
}



/* main  */

main{
    background-color: black;
    height: calc(100vh - 70px - 65px);

}

.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box-vid{
    width: calc(100% / 7 - 4px);
    padding-top: 10px;
    position: relative;

}

.box-vid img{
    width: 100%;
}

.box-vid .audio-btm{
    width: 45%;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(128,128,128,0.4);
    color: white;
    position: absolute;
    bottom: 0;


}

/* footer  */
.btm-bar{
    background-color: rgb(54, 50, 50);
    width: 100%;
    height: 65px;
    /* position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2; */
    display: flex;
    justify-content: space-between;

}

.rght-nav button{
    line-height: 60px;
    width: 100px;
    background-color: gray;
    color: red;
    font-weight: 900;
}

.lft-nav, .mdl-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.icon-text{
    text-align: center;
    color: white;
    margin: 10px;
}

div.up-arrow{
    color: white;
    margin: 10px;

}

.icon-green i{
    color: rgb(42, 243, 42);
    font-size: 26px;

}

.icon-text span{
    font-size: 12px;
}

.icon{
    font-size: 26px;

}